<div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Project List</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Project</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Project Details</th>
              </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let projectlist of projectList">
                            <td>
                                {{projectlist.projectName}}
                            </td>
                            <td>
                                {{projectlist.status}}
                            </td>
                            <td>
                                {{projectlist.ownerEmail}}
                            </td>
                            <td (click)="projectDetails(projectlist)">
                                {{projectlist.projectName}}
                            </td>
            
                        </tr>
            </tbody>
          </table>
        </div>
      </div>
