<h2 class="heading">Add project</h2> 
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <input type="text" #projectName="ngModel" [(ngModel)]="projectService.selectedProject.projectName" name="projectName" placeholder="projectName"
        required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !projectName.valid }">
        <span *ngIf="signUpForm.submitted && !projectName.valid">
          <label class="validation-message">This field is required.</label>
        </span>
        <mat-form-field style="height: 70px;">
          <input matInput [matDatepicker]="picker" #startDate="ngModel" [(ngModel)]="projectService.selectedProject.startDate" name="startDate" placeholder="startDate"
          required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="height: 70px;">
          <input matInput [matDatepicker]="picker1"  #endDate="ngModel" [(ngModel)]="projectService.selectedProject.endDate" name="endDate" placeholder="endDate"
          required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    
      <input type="text" #city="ngModel" [(ngModel)]="projectService.selectedProject.city" name="city" placeholder="city"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !city.valid }">
      <span *ngIf="signUpForm.submitted && !city.valid">
        <label class="validation-message">This field is required.</label>
      </span>
    
      <input type="text" #state="ngModel" [(ngModel)]="projectService.selectedProject.state" name="state" placeholder="state"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !state.valid }">
      <span *ngIf="signUpForm.submitted && !state.valid">
        <label class="validation-message">This field is required.</label>
      </span>
    
      <input type="text" #contactName="ngModel" [(ngModel)]="projectService.selectedProject.contactName" name="contactName" placeholder="contactName"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !contactName.valid }">
      <span *ngIf="signUpForm.submitted && !contactName.valid">
        <label class="validation-message">This field is required.</label>
      </span>
    
      <input type="text" #phoneNumber="ngModel" [(ngModel)]="projectService.selectedProject.phoneNumber" name="phoneNumber" placeholder="phoneNumber"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !phoneNumber.valid }">
      <span *ngIf="signUpForm.submitted && !phoneNumber.valid">
        <label class="validation-message">This field is required.</label>
      </span>
      <input type="text" #budget="ngModel" [(ngModel)]="projectService.selectedProject.budget" name="budget" placeholder="budget"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !budget.valid }">
      <span *ngIf="signUpForm.submitted && !budget.valid">
        <label class="validation-message">This field is required.</label>
      </span>
      <input type="submit" value="Create Project" >
      <input type="button" (click)= close() value="Cancel" class="display">
    </form>
    
    <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
      Saved successfully
    </div>
    
    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>