
<h2 class="heading">Open Project For Bidding</h2>

  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field class="search-field" >
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="projectOpenList">
      <!-- ProjectName Column -->
      <ng-container matColumnDef="projectName">
        <mat-header-cell *matHeaderCellDef> Project Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.projectName}} </mat-cell>
      </ng-container>
  
      <!-- ProjectStatus Column -->
      <ng-container matColumnDef="projectStatus">
        <mat-header-cell *matHeaderCellDef> Project Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
  
      <!-- StartDate Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
      </ng-container>
  
      <!-- EndDate Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
      </ng-container>

      <!-- EndDate Column -->
      <ng-container matColumnDef="ownerEmail">
        <mat-header-cell *matHeaderCellDef> Owner Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ownerEmail}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Bid On Project </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="display" (click) = bidOnProject(element.projectName) mat-raised-button >Bid</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedOpenListColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedOpenListColumns;"></mat-row>
    </mat-table>
  </div>
  


      <h2 class="heading">Bidding List</h2>

      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field class="search-field">
            <input matInput (keyup)="applyFilterOnBiddingList($event.target.value)" placeholder="search">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="projectBiddingList">
          <!-- ProjectName Column -->
          <ng-container matColumnDef="projectName">
            <mat-header-cell *matHeaderCellDef> Project Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.projectName}} </mat-cell>
          </ng-container>
      
          <!-- ProjectStatus Column -->
          <ng-container matColumnDef="projectBiddingStatus">
            <mat-header-cell *matHeaderCellDef> Bidding Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.bidStatus}} </mat-cell>
          </ng-container>

          <!-- StartDate Column -->
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
          </ng-container>
      
          <!-- EndDate Column -->
          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contractorEmail">
            <mat-header-cell *matHeaderCellDef> Contractor Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contractorEmail}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="progress">
            <mat-header-cell *matHeaderCellDef> Add Progress Details </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button class="display" (click) = addProgress(element.projectName) mat-raised-button  >Add Progress</button>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedBiddingListColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedBiddingListColumns;"></mat-row>
        </mat-table>
      </div>
      





