 
<div style="font-size: 20px;" >
    <p>
        Create New Project
    </p>
    

</div>

<form name= 'certform' #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
    <input type="text" #Project="ngModel" [(ngModel)]="projectService.selectedProject.Project" name="Project" placeholder="Project" required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !Project.valid }">
    <div *ngIf="signUpForm.submitted && !Project.valid">
      <label class="validation-message">This field is required.</label>
    </div>
    <input type="text" #Owner="ngModel" [(ngModel)]="projectService.selectedProject.Owner" name="Owner" placeholder="Owner" required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !Owner.valid }">
    <div *ngIf="signUpForm.submitted && !Owner.valid">
        <label class="validation-message">This field is required.</label>
    </div>
    <input formControlName="startDate" matInput [matDatepicker]="picker" placeholder="Start Date" style="width: 82%; height:54px;" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
    <input type="text" #Duration="ngModel" [(ngModel)]="projectService.selectedProject.Duration" name="Duration" placeholder="Duration" required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !Duration.valid }">
    <div *ngIf="signUpForm.submitted && !Duration.valid">
        <label class="validation-message">This field is required.</label>
    </div>
    <input type="text" #Budget="ngModel" [(ngModel)]="projectService.selectedProject.Budget" name="Budget" placeholder="Budget" required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !Budget.valid }">
    <div *ngIf="signUpForm.submitted && !Budget.valid">
        <label class="validation-message">This field is required.</label>
    </div>
    <input type="text" #Location="ngModel" [(ngModel)]="projectService.selectedProject.Location" name="Location" placeholder="Location" >
    <div >
        <input type="submit" value="Create Project" >
    </div>
    
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
    Saved successfully
  </div>
  
  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>