<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Project List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Bid</th>
          </tr>
        </thead>
        <tbody>
                <tr *ngFor="let projectlist of List">
                        <td>
                            {{projectlist.Project}}
                        </td>
                        <td>
                            {{projectlist.Status}}
                        </td>
                        <td>
                            {{projectlist.Owner}}
                        </td>

                        <div *ngIf="projectlist.Status==='Open'"> 
                          <td>
                            <button (click)="bidOnProject()"></button> 
                         </td>
                      </div>
                      <div *ngIf="projectlist.Status==='Denied'"> 
                          <td>
                           
                         </td>
                      </div>
                      <div *ngIf="projectlist.Status==='Accepted'"> 
                          <td>
                            
                         </td>
                      </div>

                    </tr>
        </tbody>
      </table>
    </div>
  </div>
