<div>
  <span class="heading">Project List</span>
  <button class="display" (click)=addProject() mat-raised-button>
    <mat-icon aria-label="Add Project">add</mat-icon>
    Add Project
  </button>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field class="search-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">
    <!-- ProjectName Column -->
    <ng-container matColumnDef="projectName">
      <mat-header-cell *matHeaderCellDef> Project</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectName}} </mat-cell>
    </ng-container>

    <!-- ProjectStatus Column -->
    <ng-container matColumnDef="projectStatus">
      <mat-header-cell *matHeaderCellDef> Project Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <!-- StartDate Column -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
    </ng-container>

    <!-- EndDate Column -->
    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button class="display" (click)=accept(element.projectName) mat-raised-button >Accept Bid</button>
        <button (click)=update(element.projectName) mat-icon-button matTooltip="Click to Edit" class="display">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>