<div class="panel panel-primary">
    <div class="panel-heading">
      <table>
        <tr>
          <td><h2>Project List</h2></td>
          <td ><h2><button (click) = addProject()>Add Project </button></h2></td>
        </tr>
      </table>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Project Status</th>
            <th>Owner Email</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td (click) = update(project.projectName)>{{project.projectName}}</td>
            <td>{{project.status}}</td>
            <td>{{project.ownerEmail}}</td>
            <td>{{project.startDate}}</td>
            <td>{{project.endDate}}</td>
            <td> <button (click) = delete(project.projectName)  >delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>